@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap');

*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Teko', sans-serif;
}

html{
  scroll-behavior:smooth;
}
body{
  min-height:1000px;
}
  
header.sticky{
  padding:5px 100px;
  background:#fff;
  border-bottom:1px solid rgba(0,0,0,.1);

}

header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:40px 100px;
  z-index:1000;
  transition:0.6s;
}
header ul {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}
header ul li{
  position:relative;
  list-style:none;
}
header ul li a{
  position:relative;
  margin: 0 15px;
  text-decoration:none;
  color:#fff;
  letter-spacing:2px;
  font-weight:300;
  font-size:24px;
  transition:0.6s;
}
header.sticky ul li a{
  color:#000;
}
.banner{
  position:relative;
  width:100%;
  min-height:100vh;
  background:url('https://i.ibb.co/QNzg687/IMG-4194.jpg');
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.banner h2{
  color:#fff;
  font-size:90px;
  text-transform:uppercase;
  text-align:center;
  line-height:1em;
}
.sec{
  background:#fff;
  padding:100px;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.sec .content{
  position:relative;
  text-align:center;
  width:100%;
}
.mxw800p{
  max-width:800px;
  margin:0 auto;
  
}
h3{
  font-size:40px;
  font-weight:300;
  margin-bottom:10px;
}
p{
  position:relative;
  font-size:18px;
  font-weight:300;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  margin-bottom:20px;
  letter-spacing:1px;
}
.btn{
  position:relative;
  display:inline-block;
  padding:10px 30px;
  background:#000;
  text-decoration:none;
  color:#fff;
}
.services{
  position:relative;
  display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
  grid-gap:30px;
  max-width:100%;
  margin-top:40px;
}
.services .box{
  width: 300px;
  margin:0 auto;
  background:#fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}

.services .box .iconBx{
  margin-top:25px;
  
}

.services .box .iconBx img{
  max-width:250px;
  margin-bottom:15px;
  
}
.services .box h2{
  font-size:24px;
  margin-bottom:10px;
  font-weight:700;
}

.stats{
  background:#000;
  padding-top:250px;
  margin-top:-250px;
}
.stats h3,
.stats p
{
  color:#fff;
}
.statsBox{
  position:relative;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  grid-gap:20px;
  max-width:100%;
  margin-top:40px;
}

.statsBox h2{
 color:#fff;
  font-size:36px;
}
.statsBox h4{
  color:#fff;
  font-size:16px;
  font-weight:500;
  text-transform:uppercase;
  letter-spacing:2px;
}
.events .title{
  position:relative;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  grid-gap:20px;
  max-width:100%;
  margin-top:40px;
}
.events .title .box2{
  width: 300px;
  margin:0 auto;
  background:#fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}
.events .title .imgBx{
  margin-top:25px;
}
.events .title .imgBx img{
   max-width:250px;
  margin-bottom:15px;
}
.events .title .text h3{
  font-size:22px;
  
}
.teamBx{
  position:relative;
   display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  grid-gap:20px;
  max-width:100%;
  margin-top:40px;
}
.teamBx .shows{
  position:relative;
  background:#000;
  min-height:300px;
  width:250px;
  margin: 0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
}
.teamBx .shows .imgBx{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.teamBx .shows .imgBx img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}
.teamBx .shows .details{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#000;
  transition:0.2s;
  opacity:0;
}
.teamBx .shows:hover .details{
  opacity:1;
}
.teamBx .shows .details h2{
  color:#fff;
  text-transform:uppercase;
  font-size:20px;
  letter-spacing:1px;
}

.contact{
  background:#000;
}
.contact h3,
.contact p{
  color:#fff;
}
.contactForm{
  position:relative;
  max-width:800px;
  margin:0 auto;
  display:flex;
}
.contactForm form{
  width:100%;
}
.contactForm .row100{
  display:flex;
  width:100%;
}
.contactForm .row100 .inputBx50{
  width:50%;
  margin:0 20px;
}
.contactForm .row100 .inputBx100{
  width:100%;
  margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea{
  position:relative;
  border:none;
  border-bottom: 1px solif #fff;
  color:#fff;
  background:transparent;
  width:100%;
  padding-top:10px 0;
  outline:none;
  font-size:18px;
  font-size:300;
  margin:20px 0;
  resize:none;
}
.contactForm .row100 textarea{
  height:100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder{
  color: rgba(255,255,255,0.5);
}
.contactForm .row100 input[type="submit"]{
  background:#fff;
  color:#000;
  max-width:100px;
  margin:none;
  text-transform:uppercase;
  letter-spacing:2px;
  cursor:pointer;
  font-weight:500;
  
}
.sci{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 50px 0;
}
.sci ul{
  display:flex;
}
.sci ul li{
  list-style:none;
}
.sci ul li a{
  text-decoration:none;
  display:inline-block;
  margin:0 30px;
}
.sci ul li a img{
  filter:invert(1);
  max-width:100px;
}
.sci ul li a:hover img{
  opacity: 0.5s;
}
.toggle{
  display:none;
}
@media (max-width:992px)
{
  .toggle{
    display:block;
    position:relative;
    width:30px;
    height:30px;
    cursor:pointer;
  }
  .toggle:before{
    content:'';
    position:absolute;
    top:4px;
    width:100%;
    height:2px;
    background:#000;
    z-index:1;
    box-shadow:0 10px 0 #000;
    transition:0.5s;
    
  }
  .toggle:after{
    content:'';
    position:absolute;
    bottom:4px;
    width:100%;
    height:2px;
    background:#000;
    z-index:1;
    transition:0.5s;
    
  }
  header,
  header.sticky{
    padding:5px 50px;
    background:#fff;
  }
  header ul{
    position:absolute;
    top:59px;
    left:0;
    width:100%;
    height:100vh;
    text-align:center;
    overflow:auto;
    background:#fff;
    visibility:hidden;
    opacity:0;
  }
  header.active ul{
    visibility:visible;
    opacity:1;
    display:block;
    padding-top:20px;
  }
  header.active ul li a{
    display:inline-block;
    margin:10px 0;
    font-size:20px;
  }
  header ul li a{
    color:#000;
  }
  .banner{
    background-position:center;
  }
  .banner h2{
    font-size:60px;
    padding:0 50px;
  }
  .sec{
    padding:100px 50px 50px 50px;
  }
  .services .box{
    width:100%;
  }
  .stats{
    padding-top:250px;
  }
  .row100{
    flex-direction:column;
  }
  .contactForm .row100 .inputBx50,
  .contactForm  .row100 .inputBx100{
    width:100%;
    margin:0;
  }
  .sci{
    margin:20px
  }
  .sci ul li a img{
    font-size:24px;
  }
  h3{
    font-size:36px;
  }
}
